* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  /* da ne moremo selektirati besede ali pa slike */
  user-select: none;
  /* da ne morero drag&drop elemente, ampak potem bojo vse klike nefunkcionalne */
  /* pointer-events: none; */
  background: linear-gradient(270deg,
      #397367ff,
      #63cccaff,
      #5da399ff,
      #42858cff,
      rgb(53, 60, 56));
}

/* Uvažanje Lobster fonta iz Google-a */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Uvažanje Open Sans Condensed Google fonta */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


.zaslon {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.meni {
  width: 15%;
  height: 100%;
  background: #08a49a;
  user-select: none;
}

.igra {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  margin-top: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  font-size: 16pt;
  text-align: center;
  font-family: 'Lobster', cursive;
  background-color: #08a49a;
  border: none;
  color: #f4d53c;
}

a:link {
  text-decoration: none;
}

li:hover {
  background-color: #00504a;
  color: #edffa7;
  text-shadow: 0 0 5px rgb(79, 211, 255);
  cursor: pointer;
}

.karti {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

img {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 7px #110e0e;
  image-resolution: 120px 120px;
  width: 100px;
  height: 100px;
  /* perspective: 1000px; */
  border-radius: 7px;
  /* kako zgleda slika vnotar kartic, da ni razsirjena */
  object-fit: scale-down;
  cursor: pointer;
}

/* grb slike */
.grb1 {
  background-image: repeating-linear-gradient(45deg, transparent, #fff, transparent 32px, #dcc140 32px, #dcc140 64px);
  background-color: #0a8f87;
  border-radius: 7px;
  box-shadow: 0 0 7px #110e0e;
  height: 130px;
  width: 130px;
  cursor: pointer;
  transition: transform 0.6s ease;
}

/* skri sliko */
/* .grb1 img {
  visibility: hidden;
} */

.grb1:hover {
  background-image: repeating-linear-gradient(45deg, transparent, #999, transparent 32px, #bd9f08 32px, #bd9f08 64px);
  background-color: #037b73;
  transform: translateX(5px) translateY(-5px);
}

.img{
  transition: transform 0.6s ease;
}

.grb2:hover img {
  background-color: rgb(211, 214, 215);
  transition: transform 0.6s ease;
  transform: translateX(5px) translateY(-5px);
}


/* časovnik */

.ura {
  width: 12%;
  margin: auto;
  margin-top: 20px;
  padding: 10px 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14pt;
  text-align: center;
  background-color: salmon;
  border-radius: 29px;
  box-shadow: 0px 0px 3px black;
  text-shadow: 3px 3px 2px gray;
  cursor: help;
}