html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-image: url(green.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h3 {
  margin: 0;
  width: 50%;
  font-size: 50pt;
  text-align: center;
  color: #63ccca;
  font-family: "Lobster", cursive;
}

h3:hover {
  color: #5bbab8;
}

.lebdi {
  background-color: whitesmoke;
  width: 70%;
}