html {
  height: 95%;
  background-image: url(pozadina/green.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

header {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 60pt;
  text-align: center;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px 2px black;
}

a:hover {
  color: #a9c90a;
  cursor: pointer;
}

.linke {
  text-decoration: none;
  color: #63ccca;
}



.lebdi {
  width: 60%;
  /* leve in desne strani */
  padding: 0px 12px 0px 12px;
  border-radius: 10px;
  background-color: whitesmoke;
  font-family: "Lobster", cursive;
  opacity: 0.4;
}