.card {
    height: 150px;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

.card-top {
    background-image: url(card-image.jpg);
    background-size: cover;
}

.card-bottom {
    background-color: blue;
}

.card-top {
    display: none;
}

.card-flipped {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}