@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5da399;

}

#glaven {
    display: flex;
    justify-content: center;
    padding: 100px 150px;
    margin: 140px auto;
    /* object-fit: cover; */
    /* da ne moremo selektati besedilo */
    user-select: none;
}

div {
    background-color: #35393c;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 140px yellow;
    border-radius: 30px;
    width: 300px;
}

h3 {
    margin: 20px 15px;
    text-align: center;
    font-size: 50pt;
    padding-top: 0px;
    color: #63ccca;
    font-family: 'Lobster', cursive;
}

h3:hover {
    color: #5bbab8;
}

div input {
    color: #35393c;
    background-color: #5da399;
    margin-bottom: 15px;
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

input:hover {
    cursor: pointer;
    background-color: #458379;
}

a:link {
    text-decoration: none;
}